.wrapper-1 {
    position: relative;
    width: 600px;
    height: 400px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:600px;
    height:400px;
    background-color: white;
    border: 1px solid black;
}